@import 'bootstrap';

//@bodyBackground: #FAF7EC;
//@navbarBrandColor: #989CAE;
@grid-gutter-width: 10px;
@icon-font-path: "../img/";
@navbar-height: 42px; //default: 50px
@padding-base-vertical: 4px;    //6px;


.brand {
  font-family: @font-family-monospace;
}

body .container1 {
//  padding: 50px;
//  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
//  margin-left: 2em;
//  padding: 0 15px;

//  padding: 0 0px;
//  margin: 0 15px;
}

#navbarSearch {
@media (max-width: 767px) {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
    width: 205px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    width: 425px;
}

@media (min-width: 1200px) {
    width: 625px;
}
}