@import 'bootstrap';

//@bodyBackground: #FAF7EC;
//@navbarBrandColor: #989CAE;
@grid-gutter-width: 10px;

.brand {
  font-family: @font-family-monospace;
}

body .container1 {
//  padding: 50px;
//  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
//  margin-left: 2em;
//  padding: 0 15px;

//  padding: 0 0px;
//  margin: 0 15px;
}

.row {
  margin: 0 15px;
}

.nav.nav-tabs {
  margin-top: 15px;
}

