<div ng-controller="EditController">
    <div  class="form-group">
    	<div class="btn-toolbar" role="toolbar" id="editHeader">
    		<div class="btn-group">
    			<button type="button" class="btn btn-default">h1</button>
  				<button type="button" class="btn btn-default">h2</button>
  				<button type="button" class="btn btn-default">ul</button>
  				<button type="button" class="btn btn-default">ol</button>
  				<button type="button" class="btn btn-default">link</button>
  				<button type="button" class="btn btn-default">image</button>
  				<button type="button" class="btn btn-default">table</button>
    		</div>
    	</div>
    </div>

<div class="container padleft0">
    <div  class="form-group col-md-6 padleft0">
    	<textarea ng-model="content" class="form-control msd-elastic" rows="10" id="contentText"
      ng-change="Changed()"/>
    </div>
    <div class="col-md-6 padleft" ng-bind-html="html" id="contentHtml">
    </div>
  </div>


    <div  class="form-group">
    	<div class="btn-toolbar" role="toolbar" id="editFooter">
    		<div class="btn-group">
    			<button type="button" class="btn btn-default" ng-click="SavePage()" id="saveButton">Save</button>
  				<button type="button" class="btn btn-default" ng-click="CancelPage()" id="cancelButton">Cancel</button>
    		</div>
    	</div>
    </div>
</div>